{{ 'section-carousel.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="main-carousel" data-flickity='{ "wrapAround": true, "contain": true }'>
    {% for block in section.blocks %}
        <div class="carousel-cell project-card">
      <img
        loading="lazy"
        height="auto"
        width="auto"
        src="{{ block.settings.image | image_url: width: 450 }}"
        alt="{{ block.settings.image.alt }}"
      >
      <h3>Project Name</h3>
      <p>Project summary sentence</p>
    </div>
    {% endfor %}
    
  </div>
</div>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "Card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}
